{{/* Helper template functions are defined in Go code, not here */}}
{{/* This file exists to provide documentation for template helpers */}}

{{/* Available template functions:
- dict "key1" "value1" "key2" "value2" ... - Creates a map from key-value pairs
- default "defaultValue" .OptionalValue - Returns default if value is empty/nil
- plus, minus, mul, div, mod - Math operations
- eq, ne, lt, le, gt, ge - Comparison operations
- inc, dec - Increment/decrement by 1
- max, min - Min/max of two values
- len - Length of slice/array/string
- str - Convert to string
- timeAgo - Human readable time difference
*/}}

{{define "helpers-loaded"}}{{end}}